body {
  font-family: 'Oswald', sans-serif;
}
.poop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.poop {
  width: 30%;
}
