/* ---------------------IMPORTED FONTS-------------------- */
@import url("https://fonts.googleapis.com/css2?family=Damion&family=Limelight&family=Poiret+One&display=swap");
/* font-family: 'Damion', cursive;
font-family: 'Limelight', cursive;
font-family: 'Poiret One', cursive; */

/* ---------------------HOME PG-------------------- */
.main {
  padding: 0 0 0 3.5vw;
  margin: 0;
  height: 35vh;
  background: #0026ff6b;
  font-family: "Limelight", cursive;
  display: flex;
  color: white;
  align-items: center;
}

/* ---------------------NAME-------------------- */
/* GLOW ANIMATION */
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff58a,
      0 0 40px #e6e600db, 0 0 50px #e6e600eb, 0 0 60px #00e696, 0 0 70px #00e6d7;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4dcaff, 0 0 40px #4d53ff,
      0 0 50px #e1e1f0b8, 0 0 60px #fff04d, 0 0 70px #4dbbff, 0 0 80px #fffda4;
  }
}
.letters {
  color: black;
  font-size: 8vw;
}
.letterSpace {
  color: black;
  padding: 0 0 0 1.5vw;
  font-size: 8vw;
}
.glowLetter {
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  font-size: 8vw;
}
.glowLetterSpace {
  padding: 0 0 0 1.5vw;
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  font-size: 8vw;
}
/* ---------------------JOB TITLE------------------- */
.jobTitleContainer {
  display: flex;
  align-items: flex-start;
}
.jobTitle {
  font-size: 5vw;
  font-family: "Poiret One", cursive;
  position: relative;
  padding: 2.5vw;
}
/* ------------------------------SKILLS GRID-------------------------- */
.iconContainer {
  background-color: rgb(188, 232, 228);
  text-align: center;
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  flex-wrap: wrap;
}
.singleIconContainer {
  object-fit: fill;
  position: relative;
  font-size: 1.5vh;
  color: transparent;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 1px;
}
.singleIconContainer:hover {
  color: black;
  font-size: 1.5vh;
  font-family: "Poiret One", cursive;
}
.span {
  padding: 100px;
}
/* ------------------------------ABOUT ME-------------------------- */
.aboutMeContainer {
  background-color: rgba(188, 232, 228, 0.633);
}
