/* ---------------------IMPORTED FONTS-------------------- */
@import url("https://fonts.googleapis.com/css2?family=Damion&family=Limelight&family=Poiret+One&display=swap");
/* font-family: 'Damion', cursive;
font-family: 'Limelight', cursive;
font-family: 'Poiret One', cursive; */

.all {
  background-color: darkblue;
}
/* ---------------------* LINKS-------------------- */
.linkA {
  color: inherit;
  text-decoration: none;
  outline: 2px solid red;
}

#resume {
  color: red;
}

/* ---------------------HOME PG-------------------- */
.main {
  padding: 0 0 0 3.5vw;
  margin: 0;
  height: 35vh;
  background: #0026ff6b;
  font-family: "Limelight", cursive;
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
}

/* ---------------------NAME-------------------- */
/* GLOW ANIMATION */
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8afff7a1,
      0 0 40px #00e6debc, 0 0 50px #00e6bc99, 0 0 60px #00e696bd,
      0 0 70px #00e6d7;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4dcaff, 0 0 40px #4d53ff,
      0 0 50px #e1e1f0b8, 0 0 60px #4dffe4, 0 0 70px #4dbbff, 0 0 80px #a4ffdbac;
  }
}
.letters {
  color: black;
  font-size: 8vw;
}
.letterSpace {
  color: black;
  padding: 0 0 0 1.5vw;
  font-size: 8vw;
}
.glowLetter {
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  font-size: 8vw;
}
.glowLetterSpace {
  padding: 0 0 0 1.5vw;
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  font-size: 8vw;
}
/* ---------------------JOB TITLE------------------- */
.jobTitleContainer {
  display: flex;
  align-items: flex-start;
}
.jobTitle {
  font-size: 5vw;
  font-family: "Poiret One", cursive;
  position: relative;
  padding: 2.5vw;
}
/* ------------------------------SKILLS GRID-------------------------- */
.iconContainer {
  background-color: rgb(168, 223, 219);
  text-align: center;
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8vw;
  flex-wrap: wrap;
}
.singleIconContainer {
  object-fit: fill;
  position: relative;
  font-size: 1.5vh;
  color: transparent;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 1px;
  font-family: "Poiret One", cursive;
}
.singleIconContainer:hover {
  color: black;
  font-size: 1.5vh;
  font-family: "Poiret One", cursive;
}
.span {
  padding: 100px;
}

/* ------------------------------RESUME-------------------------- */
.resumeContainer {
  background-color: rgba(188, 232, 228, 0.804);
  text-align: center;
}
.resumeButton {
  font-size: 1.8vw;
  height: 5vh;
  width: 23vw;
  font-family: "Limelight", cursive;
  margin: 3vh 0 3vh 0;
  background-color: rgb(73, 121, 121);
  border: none;
}
.resumeButton:hover {
  background-color: rgba(27, 36, 36, 0.88);
  color: white;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
/* ------------------------------PAPER RESUME (ADD. PG)-------------------------- */
.resumeLink {
  object-fit: fill;
  position: relative;
  /* align-items: center;
  justify-content: center; */
}
/* ------------------------------PROJECTS-------------------------- */
.projectsContainer {
  background-color: rgba(227, 244, 242, 0.695);
}
.projects {
  font-family: "Damion", cursive;
  font-size: 3vw;
  margin: 0 0 -0.1vh 2vw;
}
.projectsButton {
  font-size: 1.5vw;
  height: 5vh;
  width: 23vw;
  margin: 0 1vw 3vh 3vw;
  font-family: "Limelight", cursive;
  background-color: rgba(236, 224, 249, 0.832);
  border: none;
}
.projectsButton:hover {
  background-color: rgba(105, 86, 126, 0.729);
  color: white;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.infoButton {
  font-size: 1vw;
  height: 5vh;
  width: 4vw;
  margin: 0 0 3vh -0.7vw;
  font-family: "Poiret One", cursive;
  background-color: rgba(185, 137, 237, 0.667);
  border: none;
  border-radius: 50%;
}
.infoButton:hover {
  color: white;
  background-color: rgb(100, 66, 132);
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
/* ------------------------------FOOTER-------------------------- */
.footer {
  background-color: rgba(255, 89, 0, 0.058);
  height: 15rem;
}
.contactContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.contactButton {
  background-color: transparent;
  border: none;
  margin-top: 10vh;
  font-family: "Damion", cursive;
  font-size: 2.8vw;
  text-decoration: underline;
  color: black;
}
.contactButton:hover {
  color: rgba(207, 190, 251, 0.77);
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
