/* ---------------------IMPORTED FONTS-------------------- */
@import url("https://fonts.googleapis.com/css2?family=Damion&family=Limelight&family=Poiret+One&display=swap");
/* font-family: 'Damion', cursive;
font-family: 'Limelight', cursive;
font-family: 'Poiret One', cursive; */

/* ---------------------HOME PG-------------------- */
.main {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: #0026ff;
  font-family: "Limelight", cursive;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  font-size: 14rem;
}
/* ---------------------NAME-------------------- */
.allLetters {
  color: green;
}
.letter0 {
  color: red;
}
